*{
  box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.header{
  height: 100px;
  background-color: black;
}

.nav-main{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 100%;
}

.nav-menu{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu__item{
  margin: 0 10px;
  font-size: 10px;
}

.nav-menu__item a, .logo, .contenedor-inicio a{
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 400;
}

.contenedor-inicio{
  background-image: url('../img/header.jpg');
  background-size: cover;
  background-position: center;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor-inicio h2, p {
  color: #fff;
  margin: 30px 30px;
}

.subtitle{
  color: #fff;
  font-size: 3rem;
  font-weight: 400;
}

.contenedor-inicio a {
  display: inline-block;
  margin: 30px 50px;
  background-color: blueviolet;
  padding: .5em 1em;
  
}

.contenedor-productos {
  height: 550px;
  background-color: rgb(30, 30, 30);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor-contenedores{
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  background-color: rgb(30, 30, 30);
  color: #fff;
}

.contenedor-contenedores h3, .contenedor-contenedores i {
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-contenedores p {
  margin: 0 15px;
}

.contenedorcitos i {
  background-color: blueviolet;
  display: inline-block;
  color: #fff;
  font-size: 1.5em;
  padding: .5em;
  border-radius: 50%;
}

.contenedorcitos div { 
  text-align: center;
}

.contenedorcitos { 
  background-color: black;
  font-size: 1rem;
  border-radius: 1em;
  padding: 1em;
}